*{
    margin: 0;
    padding: 0;
}


footer{
    background-color: #1a1a1a;
    height: 300px;
    margin-top: 200px;
}
.seccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    text-align: center;
    marign-top:30px:
}

.seccion ul{
    list-style: none;
}

.titulo{
    color: white;
    font-family: segoe ui;
    font-weight: 500;
}

.seccion a{
    text-decoration: none;
    color: #cccccc;
    transition: all 0.3s ease;
}

.seccion li{
    margin: 10px;
}

.seccion a:hover{
    color: #fff;
    transition: all 0.3s ease;
}

.contenido1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub ul{
    list-style: none;
}

.sub li{
    margin: 10px;
}

.des{
    color: #cccccc;
    font-family: tahoma;
    font-size: 12px;
}

.sub{
    width: 380px;
}

.email{
    height: 25px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 3px;
    width: 250px;
    background-color: transparent;
    border: 1px solid #cccccc;
    color: white;
    transition: all 0.3s ease;
}

.email:focus{
    outline: none;
    background-color: #fff;
    color: black;
}

.email:hover{
    background-color: #fff;
    transition: all 0.3s ease;
}

.btn{
    border: none;
    padding:7px 13px 7px 13px;
    border-radius: 5px;
    background-color: rgb(13, 167, 228);
    color: white;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: rgba(13, 167, 228, 0.555) ;
    transition: all 0.3s ease;
}

hr{
    margin: 10px;
    color: #cccccc;
    width: 83%;
    position: relative;
    left: 120px;
}

.reservado{
    color: #cccccc;
}

.redes{
    color: white;
    font-size: 20px;
}

.contenido2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 1100px;
    position: relative;
    left: 130px;
}
